

* {
    box-sizing: border-box;
  }

body {
    background-image: url("../images/Website-Background.png");
    background-size: cover;
}


 .navbar-light .navbar-brand {
     font-family: 'Times New Roman', Times, serif;
     font-weight: bold;
     background-color: #4aaaa5;
     color: white;
     font-size: 1.5rem;
 }

.box {
    background-color: #fff;
    margin: 40px 10px 10px 40px;
    width:60%;
    height: 300px;
}

.btn {
    
    padding: 1rem 2rem;
    font-size: 1.25rem;
}


.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #4AAAA3;
    border-color: #4aaaa5;
}

/* .col-md-8 {
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px; 
    padding-bottom: 30px;
} */

#section-block {
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px; 
    padding-bottom: 30px;
}

.row h1 {
    font-family: 'Times New Roman', Times, serif;
     font-weight: bold;
     color: #4aaaa5;
     margin-top:20px;
     margin-left: 20px;
     text-align: left;
}

img {
    float:left;
    margin-right: 10px;
}

 .p-block {
    text-align: left;
 }

.footer-style {
    background-color: #808080;
    color:white;
    padding-top: 0px;
    padding-bottom: 20px;
    vertical-align: center;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

hr.new {
    border: 3px solid #4aaaa5;
    margin-top: 0px;
    margin-bottom: 10px;
  
  }

.form-style {
      text-align: left;
      font-family: Arial, Helvetica, sans-serif;
      padding-left: 30px;
      padding-right: 60px;
      font-size: 1.15rem;
  }

#no-padding {
      padding-left: 0px;
      padding-right: 0px;
  }

.img-block {
    height: 350px;
    width: 350px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;

}

.extra-padding {
    padding-bottom: 10px;
    margin-bottom: 10px;
}



